<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullscreengallery.gridview.gridviewfullscreengallery">


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name="com.fullscreengallery.gridview.gridviewfullscreengallery.GridViewActivity">
            <!--android:theme="@android:style/Theme.Holo.NoActionBar">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fullscreengallery.gridview.gridviewfullscreengallery.FullScreenViewActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>
    </application>

</manifest>